<div class="row">
    <div class="col-sm-12">
        <div class="markdown-card">
            <h1 class="text-left">{{post.title}}</h1>
            <p>{{post.content}}</p>
        </div>
    </div>
</div>
