{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body>

{% block header %}
    <header id="header">
        {% include './geohub/header.twig' %}
    </header>
{% endblock %}

<main>
    {% block content %}
        Sorry, no content
    {% endblock %}
</main>

{% block footer %}
    <footer id="footer">
        {% include './geohub/footer.twig' %}
    </footer>
    {{ function('wp_footer') }}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
