{% include "menu.twig" with {'menu': menu.get_items} %}

<div >
    <section class="big-banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h1>Employment Ontario Open Data</h1>
                        <p>Connecting People with Information</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-odeo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Welcome to a platform for exploring and downloading Employment Ontario open data. Here you will find Employment Ontario related datasets ready for download or to be explored in interactive maps, apps, dashboards and tables.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- <section id="search-odeo">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h1>Find Data</h1>
                        <p>Doesn't work</p>
                        <form action="">
                            <div class="form-group">
                                <label for=""></label>
                                <span><input type="text"></span>
                                <button>Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
