<figure class="imghvr-fold-up">
    <img src="http://eoanalytics.site/wp-content/uploads/2017/04/FASSB-logo.jpg" class="img-responsive">
    <figcaption>
       <h3>Course Name</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam atque, nostrum veniam consequatur libero fugiat, similique quis.</p>
    </figcaption>
    <a href="#"></a>
</figure>
