{% extends "base.twig" %}

{% block content %}
    <div id="hero">
        <div class="textbox">
            <h2>Welcome to the home of the</h2>
            <br/>
            <img src="http://eoanalytics.site/wp-content/uploads/2017/04/AU-logo-wide-white.png" alt="Analytics Unit Logo">
            <!-- <h4>We are part of the
                <span style="background-color: rgba(255,114,0,0.4);">Finance Analysis and Systems Support Branch</span>
                <br/>in the
                <span style="background-color: rgba(132,43,61,0.4);">Employment Training Division</span>
                <br/>of the
                <span style="background-color: rgba(0,102,204,0.4);">Ministry of Advanced Education and Skills Development</span>
                <br/>for the
                <span style="background-color: rgba(0,107,63,0.4); ">Government of Ontario</span>
            </h4> -->
        </div>
    </div>
    <section id="new-posts">
        <div class="container-fluid">
            <div class="list-group">
                <h2>Recently modified posts</h2>
                {% for post in posts %}
                    {% include['tease.twig'] %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="select-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Search posts by category</h2>
                </div>
                <div class="col-lg-6">
                    <div class="input-group">
                        <select id="category-select" name="categories" class="form-control">
                            {% for cat in categories %}
                                <option value="{{cat}}">{{cat}}</option>
                            {% endfor %}
                        </select>
                        <span class="input-group-btn">
                            <button id="cat-btn" type="button" class=" btn btn-default">Load</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="archive-load"></div>
    </section>

    <section id="static-posts">
        {% for static in sps %}
            <div class="" id="post-id-{{static.slug}}">
                {{static.content}}
            </div>
        {% endfor %}
    </section>
{% endblock %}
